@model CreateSolutionViewModel

@{
    ViewBag.Title = "Solution Builder";
}

<h2>@ViewBag.Title</h2>

<div>
    @using (Html.BeginForm("Create", "SolutionBuilder", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.SolutionName)
            @Html.TextBoxFor(model => model.SolutionName, new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SubProjectName)
            @Html.TextBoxFor(model => model.SubProjectName, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>
