@model CreateSolutionViewModel

@{
    ViewBag.Title = "Solution Builder";
    IEnumerable<string> errors = ViewBag.Error;
}

<dp-menu>
    <dp-menu-item label="TeamCity" icon="fa-dashboard"></dp-menu-item>
</dp-menu>

<h2>@ViewBag.Title</h2>

@if (errors != null)
{
    <div class="alert alert-danger">
        <ul>
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
        </ul>
    </div>
}

<div>
    @using (Html.BeginForm("Create", "SolutionBuilder", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.SolutionName)
            <input class="form-control" name="SolutionName" type="text" ng-model="vm.model.solutionName" placeholder="Solution name"/>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SubProjectName)
            @Html.TextBoxFor(model => model.SubProjectName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BuildTemplateName)
            @Html.TextBoxFor(model => model.BuildTemplateName, new { @class = "form-control" })
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.SourceControlUrl)
            @Html.TextBoxFor(model => model.SourceControlUrl, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>
